
@{
    ViewData["Title"] = "CommissionWorks";
    Layout = "~/Views/Shared/_GeneralTemplate.cshtml";
}
<head>
    <title>Commissioned Works</title>
    <style>
        .carousel-inner img {
            max-width: 500px;
            height: 300px;
        }
    </style>
</head>
<h2>Commissioned works</h2>

<div>
    This page contains commissions that I have completed throughout my drawing career. If you request a drawing and I approve of it, then I will post it here.
</div>

<br />
<div class="container mt-3" style="max-width: 500px; height: 500px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h4>Ugandan Knuckles Fanart</h4>
                <img src="~/images/Commissioned/commission_1.jpg" />
                <p>Do you know da wae</p>
            </div>
            <div class="carousel-item">
                <h4>Cyberpunk 2077 Fanart 1</h4>
                <img src="~/images/Commissioned/commission_2.jpg" />
                <p> At the time this was drawn Cyberpunk 2077 had recently been announced and I was requested to draw some fanart </p>
            </div>
            <div class="carousel-item">
                <h4>D&D Character Fanart</h4>
                <img src="~/images/Commissioned/commission_3.jpg" />
                <p>Custom D&D character drawing that a friend of mine requested me to draw. </p>
            </div>
            <div class="carousel-item">
                <h4>Billy Herrington Fanart</h4>
                <img src="~/images/Commissioned/commission_4.jpg" />
                <p>Yugamineena. In memory of Billy Herrington: Aniki</p>
            </div>
            <div class="carousel-item">
                <h4>Cyberpunk 2077 Fanart 2</h4>
                <img src="~/images/Commissioned/commission_5.jpg" />
                <p>A portrait of a Cyberpunk 2077 character design. In this drawing, I used a slightly different art style that adopts some aspects of realistic drawing styles. </p>
            </div>
            <div class="carousel-item">
                <h4>Little Mac Fanart</h4>
                <img src="~/images/Commissioned/commission_6.jpg" />
                <p>Fanart of SSB Ultimate Little Mac</p>
            </div>
            <div class="carousel-item">
                <h4>Lucina Fanart</h4>
                <img src="~/images/Commissioned/commission_7.jpg" />
                <p>Fanart of Lucina from Fire Emblem and SSB</p>
            </div>
            <div class="carousel-item">
                <h4>GTA V Clan Emblem</h4>
                <img src="~/images/Commissioned/commission_8.jpg" />
                <p>Friend requested me to draw a GTA V Clan Emblem for his clan. </p>
            </div>
            <div class="carousel-item">
                <h4>Elephant with class</h4>
                <img src="~/images/Commissioned/commission_9.jpg" />
                <p>Random elephant drawing requested by a friend on Discord</p>
            </div>
        </div>

        <!-- Left and right controls-->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</div>

<!--
<div class="row">
    <img src="~/images/Commissioned/commission_1.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Ugandan Knucles Fanart: Do you know da wae</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_2.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Cyberpunk 2077 character Fanart</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_3.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Dungeons and Dragons Fanart</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_4.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Billy Herrington Fanart: Yugamineena</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_5.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Cyberpunk 2077 character Fanart 2</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_6.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Little Mac Fanart</div>
</div>

<div class="row">
    <img src="~/images/Commissioned/commission_7.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Lucina Fanart</div>
</div>

    -->
