
@{
    ViewData["Title"] = "EtcWorks";
    Layout = "~/Views/Shared/_GeneralTemplate.cshtml";
}

<head>
    <title>Other Artwork</title>
    <style>
        .carousel-inner img {
            max-width: 1000px;
            height: 300px;
        }
    </style>
</head>
<h2>Other artwork</h2>

<div>
    Here are a bunch of random drawings that I have created that are not part of the Random Kitten series or commissioned.
    Sometimes I just draw whatever I feel like drawing so there will be no central theme here.
</div>
<br />

<div class="container mt-3" style="max-width: 500px; height: 500px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- The slideshow width="1100" height="500" -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h3>Ricardo Milos Fanart</h3>
                <img src="~/images/Etc/etc_1.jpg" class="mx-auto d-block custom_img">
                <p>Some random fanart of Ricardo Milos that I drew to practice drawing muscles</p>
            </div>
            <div class="carousel-item">
                <h3>Bishop John Kennelly</h3>
                <img src="~/images/Etc/etc_2.jpg" class="mx-auto d-block custom_img">
                <p>I just came to get something to eat! </p>
            </div>
            <div class="carousel-item">
                <h3>The Snowy Fortress</h3>
                <img src="~/images/Etc/etc_3.jpg" class="mx-auto d-block custom_img">
                <p>I drew this to experiment on background perception and a night scene which implements different colors and filters. </p>
            </div>
            <div class="carousel-item">
                <h3>The Lone Solider</h3>
                <img src="~/images/Etc/etc_4.jpg" class="mx-auto d-block custom_img">
                <p>An experiment with scenery where the character is immersed within rather than stannding out. </p>
            </div>
            <div class="carousel-item">
                <h3>Wizard's Ritual</h3>
                <img src="~/images/Etc/etc_5.jpg" class="mx-auto d-block custom_img">
                <p>Another experiment involving having a character within some kind of scene. Experimented with a more Red-Orange color scheme. </p>
            </div>
            <div class="carousel-item">
                <h3>New Character 1</h3>
                <img src="~/images/Etc/etc_6.jpg" class="mx-auto d-block custom_img">
                <p>This was drawn in an attempt to create a new original character (oc)</p>
            </div>
            <div class="carousel-item">
                <h3>New Character 1 (Blue)</h3>
                <img src="~/images/Etc/etc_7.jpg" class="mx-auto d-block custom_img">
                <p>Same as previous character except with a blue color scheme instead. </p>
            </div>
            <div class="carousel-item">
                <h3>New Character 2</h3>
                <img src="~/images/Etc/etc_8.jpg" class="mx-auto d-block custom_img">
                <p>New OC with improved hairstyle and different posture. </p>
            </div>
            <div class="carousel-item">
                <h3>New Character 3</h3>
                <img src="~/images/Etc/etc_9.jpg" class="mx-auto d-block custom_img">
                <p>New OC with new posture and experiment with different tools in Krita. </p>
            </div>
            <div class="carousel-item">
                <h3>The river by the forest</h3>
                <img src="~/images/Etc/etc_10.jpg" class="mx-auto d-block custom_img">
                <p>Experimental scenic drawing using Minecraft to find a suitable base for a scene. </p>
            </div>
            <div class="carousel-item">
                <h3>An elf in the wilderness</h3>
                <img src="~/images/Etc/etc_11.jpg" class="mx-auto d-block custom_img">
                <p>Another experimental scenic drawing inspired by Minecraft landscapes. </p>
            </div>
        </div>

        <!-- Left and right controls-->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" style="color: black"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next" style="color: black">
                <span class="carousel-control-next-icon" style="color: black"></span>
            </a>


    </div>

</div>


<!--
    <div class="row">
    <img src="~/images/Etc/etc_1.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Ricardo Milos Fanart</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_2.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Bishop John Kennelly: I just came to get something to eat</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_3.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">The snowy fortress</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_4.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">The Lone Soldier</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_5.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">Wizard's Ritual</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_6.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">New Character Color Scheme 1</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_7.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">New Character Color Scheme 2</div>
</div>

<div class="row">
    <img src="~/images/Etc/etc_8.jpg" class="img-thumbnail col-sm-3" />
    <div class="rounded col-sm-8">New Character 2</div>
</div>


-->
