
@{
    ViewData["Title"] = "PersonalDetails";
    Layout = "~/Views/Shared/_GeneralTemplate.cshtml";
}
    <head>
        <title>Personal Details</title>
    </head>
<h2>Personal Details</h2>

<div>
    Current Tools:
</div>
    <li>Krita</li>
    <li>Xp-Pen Star G640s</li>

    Past Tools:
    <li>Galaxy Note 3</li>
    <li>VirtualTablet</li>